body{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li{
	margin:0;
	padding:0;
}

.container{
	width:85%;
	height:auto;
	margin:10px auto;
	position:relative;
}

.gallery{
	padding:10px;
	height:auto;
	position:relative ;
}

.sorting{
	margin:20px 0px 30px;
	background:#e3e3e3;
	text-align:center;
	line-height:50px;
}

.sorting a{
	text-decoration:none;
	background:#fff;
	color:#222;
	padding:10px 17px;
	font-style:italic;
	margin-right:15px;
	-webkit-transition:all .2s ease-in; 
}
.sorting a:hover{
	background:#222;
	color:#fafafa;
}
.gallery .photos .thumbnail_container{
	position:relative;
}
.gallery .photos .thumbnail_container a.thumbnail{
	position:absolute;
}
.gallery .photos .thumbnail_container a.thumbnail img{
	width:200px;
	height:150px;
	border:1px solid #eee;
}

#debug{
	position:absolute;
	left:0;bottom:0;
}

.sorting .selected{
	background:#222;
	color:#fafafa;
}

@media screen and (min-width:50px) and (max-width:500px) { 
	.sorting{
		margin:10px 0 30px;
		background:#e3e3e3;
		text-align:center;
		line-height:50px;
	}
	.sorting a{
		text-decoration:none;
		display:block;
		width:100%;
		background:#fff;
		color:#222;
		padding:5px 7px;
		font-style:italic;
		-webkit-transition:all .2s ease-in; 
	}
}
@media screen and (min-width:501px) and (max-width:960px) { 
	.sorting{
		margin:10px 0 30px;
		background:#e3e3e3;
		text-align:center;
		line-height:50px;
	}
	.sorting a{
		text-decoration:none;
		width:100%;
		display:block;
		font-style:10px;
		background:#fff;
		color:#222;
		padding:4px 7px;
		font-style:italic;
		-webkit-transition:all .2s ease-in; 
	}
}
@media screen and (min-width:961px) { 
	.sorting{
		margin:10px 0 30px;
		background:#e3e3e3;
		text-align:center;
		line-height:50px;
	}
	.sorting a{
		text-decoration:none;
		background:#fff;
		color:#222;
		padding:10px 17px;
		font-style:italic;
		margin-right:15px;
		-webkit-transition:all .2s ease-in; 
	   }
}